/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

nav, ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

hr {
	border: none;
    background-color: #f6f6f6;
    color: #f6f6f6;
    height: 2px;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

:root {
	--first-family: "Euclid Circular A", sans-serif;
	--second-family: "Montserrat", sans-serif;
}

html {
	font-family: var(--first-family);
	font-weight: 400;
	font-size: calc(100vw / 1920 * 10);
}

.container {
	max-width: 1440px;
	margin: auto;
}

.block-section {
	padding: 0 50px;
}

.h2__block-title {
	font-weight: 500;
	font-size: 4.5rem;
	color: #0a0a0a;
}

.burger {
	display: none;
}

.header__top {
	height: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
}

.header__top::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 35px;
	background-color: #000;
	z-index: -1;
}

.header__top-link {
	display: flex;
	gap: 25px;
}

.top-social {
	display: flex;
	gap: 25px;
}

.top-item {
	display: inline-flex;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}

.top-item:hover {
	color:#f59e32
}

.top-social__phone::before {
	content: url(../img/phone-icon.svg);
	margin-right: 10px;
}

.top-social__email::before {
	content: url(../img/email-icon.svg);
	margin-right: 10px;
}

.header__bottom {
	display: flex;
	justify-content: space-between;
	height: 77px;
	align-items: center;
	padding: 0 50px;
}

.logo__title {
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0.1em;
	color: #f59e32;
	margin-bottom: 5px;
}

.logo__subtitle {
	font-weight: 400;
	font-size: 9px;
	color: #000;
}

.header__bottom-nav {
	display: flex;
	gap: 4rem;
}

.header__bottom-nav__link {
	font-weight: 400;
	font-size: 14px;
	color: #000;
}

.header__bottom-nav__link:hover {
	color: #f59e32;
}

.active-nav {
	color: #f59e32;
}

.header__bottom-btn {
	display: flex;
	gap: 1.8rem;
}

.button {
	border: 1px solid #f59e32;
	border-radius: 15px;
	padding: 12px 36px;

	font-weight: 500;
	font-size: 14px;
	color: #000;
}

.header__burger {
	display: none;
}

.button:hover {
	background-color: #f59e32;
	color: #fff;
}

.about__block {
	background-color: #f59e32;
	padding: 20px 0;
}

.about__block-section {
	max-width: 1400px;
	max-height: 643px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 30px;
}

.about__block-list {
	display: flex;
}

.about__block-info {
	width: 50%;
	padding: 60px 30px 0 30px;
}

.about__block-title {
	font-weight: 500;
	font-size: 40px;
	line-height: 125%;
	color: #0a0a0a;
	margin-bottom: 15px;
}

.about__block-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: rgba(10, 10, 10, 0.8);
}

.about__block-text__first {
	margin-bottom: 20px;
}

.about__block-input {
	margin-top: 15px;
	border: 1px solid #ececec;
	border-radius: 20px;
	max-width: 651px;
	height: 247px;
	background: #f9f9f9;
	padding: 10px 15px 0;
}

.about__block-input__title {
	font-weight: 500;
	font-size: 22px;
	color: rgba(10, 10, 10, 0.8);
	margin-bottom: 20px;
	line-height: 1.5;
}

.decoration {
	background-color: #f59e32;
	color: #fff;
	transform-origin: center center;
	transform: rotate(-2deg);
	display: inline-block;
	border-radius: 30px;
	font-weight: 500;
	font-size: 22px;
	padding: 3px 13px;
	
}

.about__block-data__input {
	display: flex;
	gap: 10px;
	margin-bottom: 7px;
}

.input__block {
	border: 1px solid #ececec;
	border-radius: 10px;
	max-width: 305px;
	width: 100%;
	height: 45px;
	padding: 10px;

	font-weight: 400;
	font-size: 14px;
	color: rgba(10, 10, 10, 0.8);
}

.input__block:focus {
	border: 2px solid #f59e32;
}

.checkbox__style {
	appearance: none;
	position: absolute;
}

.checkbox-label__style::before{
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	border: 1px solid #f59e32;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.checkbox-label__style::after {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	background: url(../img/checkbox-icon.svg);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	transition: opacity .1s linear;
}

.checkbox__style:checked + .checkbox-label__style::after {
	opacity: 1;
}

.checkbox-label__style {
	position: relative;
	padding-left: 20px;
	font-weight: 400;
	font-size: 12px;
	color: #000;
	opacity: 0.8;
}

.button__form {
	display: block;
	width: 100%;
	margin-top: 16px;
	text-align: center;
}

.fill-text {
	color:#f59e32;
}

.underline-text {
	text-decoration: underline;
}

.about__block-button {
	margin-top: 30px;
}

.about__block-button a {
	padding: 12px 46px;
	color: #f59e32;
}
.about__block-bg {
	padding: 20px 30px 20px 0;
	position: relative;
}

.about__block-img {
	border-radius: 15px;
}

.about__company-block {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 15px;
	position: absolute;
	bottom: 6%;
	left: 3%;
	max-width: 396px;
	height: 208px;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(15px);
	border-radius: 20px;
}

.about__company-block__title {
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: #fff;
}

.about__company-block__item {
	display: flex;
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: #fff;
}

.about__company-block__item::before {
	content: url(../img/check-icon.svg);
	margin-right: 10px;
}

.contents__block-title {
	font-weight: 500;
	font-size: 45px;
	color: #000;
	margin-top: 60px;
}

.contents__block-list {
	display: flex;
	justify-content: space-between;
}

.contents__block-item {
	position: relative;
	width: 258px;
	height: 236px;
	padding: 15px 15px 10px 15px;
	background-color: #fafafa;;
	border-radius: 15px;
}

.contents__block-item__img {
	margin-bottom: 10px;
}

.contents__img-hover {
	position: absolute;
	top: 25%;
	left: 42%;
	opacity: 0;
  	transition: .3s ease;
}

.contents__block-item:hover .contents__img-hover{
	opacity: 1;
}

.contents__block-item__text {
	font-weight: 400;
	font-size: 16px;
	color: #000;
}

.what-is__block {
	margin: 65px 0;
}

.what-is__block-list {
	background-color: #f59e32;
	display: flex;
	justify-content: space-between;
	border-radius: 30px;
}

.what-is__block-text {
	padding: 42px 0 0 40px;
}

.what-is__block-text__item {
	max-width: 800px;
	font-weight: 400;
	font-size: 15px;
	line-height: 142%;
	color: #000;
	margin-top: 15px;
}

.what-is__block-img {
	padding-right: 40px;
}

.how-do__block-list {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.how-do__block-item {
	max-width: 661px;
	width: 100%;
	padding: 20px;
	border-radius: 15px;
	background-color: #fafafa;
	height: 100%;
}

.how-do__block-list__img {
	background-color: #eee;
	border-radius: 20px;
	position: relative;
	max-height: 405px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.how-do__bestseller-block {
	border-radius: 15px;
	padding: 10px 20px;
	max-width: 128px;
	max-height: 35px;
	background: rgba(245, 158, 50, 0.2);
	position: absolute;
	font-weight: 500;
	font-size: 12px;
	color: #f59e32;
	top: 18px;
	left: 15px;
}

.how-do__block-list__title {
	margin-top: 20px;
	font-weight: 500;
	font-size: 16px;
	line-height: 137%;
	color: #000;
}

.line {
	margin: 25px 0 45px 0; 
}

.how-do__process-item {
	width: 49%;
	max-height: 612px;
}

.how-do__process-text {
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: #000;
}

.how-do__process-item__text {
	display: flex;
}

.how-do__process-item__text::before {
	content: url(../img/how-do-ellips-icon.svg);
	margin-right: 20px;
}

.how-do__process-text768 {
	display: none;
}

.active__process-item::before {
	content: url(../img/how-do-process-active-icon.svg);
	margin-right: 20px;
}

.process-item__text-title {
	margin-top: 5px;
	font-weight: 500;
	font-size: 16px;
	line-height: 137%;
	color: #000;
}

.process-item__text {
	margin-top: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: #0a0a0a;
}

.process-item__btn {
	display: none;
	margin-top: 5px;
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: #f59e32;
}

.active__process-btn {
	display: block;
}

.how-do__process-item__img {
	border-radius: 15px;
}

.properties__block-section {
	margin-top: 65px;
}

.properties__block-text {
	margin-top: 15px;
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: #000;
}

.properties__block-list {
	display: flex;
}

.properties__block-items {
	margin-top: 87px;
}

.properties__block-item {
	max-width: 376px;
	max-height: 163px;
	padding: 15px 15px 0 15px;
	background-color: #fafafa;
	margin-bottom: 25px;
	border-radius: 15px;
}

.properties__block-item__title-block {
	display: flex;
	align-items: center;
}

.properties__block-item__title {
	margin-left: 10px;
	font-weight: 500;
	font-size: 18px;
	color: #000;
}

.properties__block-item__text {
	margin-top: 14px;
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: #000;
}

.properties__block-img {
	max-height: 590px;
}

.properties__block-items__vert {
	display: flex;
	max-width: 887px;
	justify-content: space-between;
	margin: auto;
}

.item__vert {
	max-width: 285px;
	max-height: 146px;
	margin-bottom: 0;
}

.properties__block-btn {
	display: block;
	max-width: 280px;
	padding: 15px 36px;
	text-align: center;
	margin: 30px auto;
}

.popular__block-nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 65px;
}

.poular__block-nav__arrow:first-child {
	margin-right: 8px;
}

.arrow-left:hover {
	content: url(../img/arrow-left-icon-fill.svg)
}

.arrow-right:hover {
	content: url(../img/arrow-right-icon-fill.svg)
}

.popular__block-section__list {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
	max-width: 1440px;
	width: 100%;
}

.popular__block-section__item {
	position: relative;
	max-width: 320px;
	padding: 20px;
	background-color: #fafafa;
	border-radius: 15px;
}

.popular__block-section__img {
	margin: 65px 0 15px 40px;
}

.popular__block-section__subtitle {
	margin-top: 5px;
	font-weight: 500;
	font-size: 12px;
	color: #f59e32;
}

.popular__block-section__title {
	width: 60%;
	margin-top: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 137%;
	color: #0a0a0a;
}

.popular__block-section__info {
	margin-top: 10px;
	border-bottom: 1px solid #ebebeb;
}

.popular__block-section__info-item:last-child {
	margin-top: 15px;
	opacity: 0.5;
}

.popular__block-section__info-item {
	margin-bottom: 3px;
	font-weight: 300;
	font-size: 14px;
	line-height: 143%;
	color: #0a0a0a;
}

.popular__block-section__sale-price {
	margin-top: 20px;
	font-weight: 500;
	font-size: 22px;
	color: #0a0a0a;
}

.popular__block-section__full-price {
	font-size: 16px;
	color: rgba(10, 10, 10, 0.2);
	text-decoration: line-through;
	margin-bottom: 10px;
}

.popular__block-btn {
	margin-top: 10px;
	color: #f59e32;
	width: 100%;
}

.qualities__block-section {
	margin-top: 65px;
}

.qualities__block-section:last-child {
	margin-top: 45px;
}

.qualities__block-title {
	width: 48%;
}

.qualities__block-text {
	margin-top: 15px;
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: #0a0a0a;
}

.qualities__block-info__section {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.qualities__block-info__list {
	width: 49%;
}

.qualities__block-info__item {
	display: flex;
	justify-content: space-between;
	background-color: #fafafa;
	border-radius: 15px;
	margin-bottom: 15px;
}

.qualities__block-info__item-list {
	margin: 15px 0 0 15px;
}

.qualities__block-info__title-block {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.qualities__block-info__title {
	font-weight: 500;
	font-size: 16px;
	color: #000;
	margin-left: 10px;
}

.qualities__block-info__qual li{
	list-style: inside;
}

.qualities__block-info__qual-item {
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: #000;
	opacity: 0.8;
}

.object__block-section {
	margin-top: 65px;
}

.object__block-title {
	width: 70%;
	margin-bottom: 20px;
}

.object__block-info__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 25px;
}

.object__block-info__item {
	max-width: 430px;
	max-height: 750px;
	padding: 20px;
	background-color: #fafafa;
	border-radius: 15px;
}

.object__block-info__title-img {
	max-width: 390px;
	max-height: 240px;
	width: 100%;
	border-radius: 15px;
	margin-bottom: 10px;
}

.object__block-info__list-img {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 12px;
}

.object__block-info__item-img {
	border-radius: 15px;
	max-width: 122px;
	max-height: 70px;
}

.object__block-info__item-title {
	font-weight: 500;
	font-size: 16px;
	color: #0a0a0a;
	margin-top: 20px;
	margin-bottom: 10px;
}

.object__block-info__item-text {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	color: #000;
	opacity: 0.7;
}

.reviews__block-title {
	margin-bottom: 20px;
}

.reviews__block-info-lists {
	display: flex;
	flex-direction: row;
	gap: 15px;
	position: relative;
}

.reviews__block-info-list {
	max-width: 1250px;
	width: 100%;
}

.reviews__block-info-item {
	max-width: 320px;
	padding: 20px;
	background-color: #fafafa;
	border-radius: 15px;
}

.reviews__block-item__icon {
	margin-bottom: 10px;
}

.reviews__block-item__name {
	font-weight: 500;
	font-size: 16px;
	color: #000;
	margin-bottom: 12px;
}

.reviews__block-item__stars {
	margin-right: 10px;
}

.reviews__block-item__rating {
	display: flex;
	margin-bottom: 10px;
}

.reviews__block-item__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: #0a0a0a;
	opacity: 0.8;
}

.reviews__block-info-next {
	position: absolute;
	top: 50%;
	right: 0;
	display: none;
}

.reviews__block-info-prev {
	position: absolute;
	top: 50%;
	right: 0;
	display: none;
}

.reviews__block-info-arrow-right:hover {
	content: url(../img/arrow-right-icon-fill.svg);
}

.reviews__block-info__grade-ya {
	display: block;
	text-align: center;
	margin: 30px auto;
}

.footer {
	background-color: #000;
}

.logo__subtitle-white {
	color: #fff;
}

.footer__top {
	display: flex;
	border-bottom: 1px solid #3B3B3B;
}

.footer__info {
	max-width: 500px;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 34px;
}

.footer__top-social {
	margin: 20px 0;
}

.footer__info-item {
	display: flex;
	font-weight: 400;
	font-size: 14px;
	line-height: 171%;
	color: #fff;
	margin-bottom: 20px;
}

.footer__address::before {
	content: url(../img/marker-icon.svg);
	margin-right: 10px;
}

.footer__company-info::before {
	content: url(../img/info-icon.svg);
	margin-right: 10px;
}

.footer__prod {
	max-width: 440px;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px 0 0 50px;
	border-left: 1px solid #3B3B3B;
	border-right: 1px solid #3B3B3B;
}

.footer__faq {
	max-width: 500px;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px 0 0 50px;
}

.footer-title {
	font-weight: 500;
	font-size: 18px;
	color: #fff;
}

.footer-item {
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	opacity: 0.8;
	margin-top: 15px;
}

.footer-item:hover {
	color:#f59e32;
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
}

.footer__info-text {
	font-weight: 400;
	font-size: 14px;
	color: #fff;
}

.footer__info-link:hover{
	color:#f59e32;
}

@media (max-width: 1440px) {
	html {
		font-size: calc(100vw / 1440 * 10);
	}

	.contents__block-item {
		position: relative;
		width: 25.8rem;
		height: 23.6rem;
		padding: 1.5rem 1.5rem 10rem 1.5rem;
	}


}

@media (max-width: 1240px) {
	html {
		font-size: calc(100vw / 1440 * 10);
	}

	.header__bottom-nav__link {
		font-size: 12px;
	}
	
	.button {
		padding: 10px 20px;
		font-size: 12px;
	}

	.about__block-info {
		padding: 40px 30px 0 30px;
	}

	.about__block-title {
		font-size: 35px;
	}

	.h2__block-title {
		font-size: 35px;
	}

	.about__block-input__title {
		font-size: 18px;
	}

	.decoration {
		font-size: 18px;
		padding: 3px 13px;
	}

	.contents__block-title {
		font-size: 32px;
		margin-top: 40px;
	}

	.contents__block-item {
		width: 215px;
		height: 230px;
	}

	.contents__block-item__text {
		font-size: 14px;
	}

	.what-is__block {
		margin: 50px 0;
	}

	.how-do__bestseller-img {
		max-width: 350px;
  		margin-top: 30px;
	}

	.how-do__block-list__img {
		width: 490px;
	}

	.how-do__block-item {
		max-width: 530px;
	}

	.properties__block-items {
		margin-top: 65px;
	}

	.properties__block-item {
		width: 320px;
		height: 180px;
	}

	.properties__block-item__title {
		font-size: 16px;
	}

	.title-block__icon {
		width: 30px;
	}

	.properties__block-img {
		max-height: 483px;
	}

	.popular__block-nav__list {
		margin-top: 40px;
	}

	.popular__block-section__item {
		width: 366px;
	}

	.popular__block-section__img {
		margin: 50px 0 15px 15px;
	}

	.object__block-info__item-img {
		border-radius: 10px;
		max-width: 103px;
	}

	.object__block-info__title-img {
		max-width: 334px;
	}

	.object__block-info__item {
		padding: 15px;
	}

	.reviews__block-info-item {
		width: 265px;
	}

	.reviews__block-info__grade-ya {
		width: 305px;
	}
}

@media (max-width: 1024px) {
	html {
		font-size: calc(100vw / 1024 * 8);
	}

	.burger {
		display: flex;
		flex-direction: column;
		width: 35px;
		height: 25px;
		cursor: pointer;
	}
	.burger__line{
		display: block;
		border-radius: 40px;
		height: 3px;
		width: 100%;
		background-color: #f59e32;
		transition: all ease 0.5s;
	}
	.burger__line--top{
		transform-origin: center center;
	}
	.burger__line--center{
		margin: auto 0;
	}
	.burger__line--bottom{
		transform-origin: center center;
	}
	.burger.active .burger__line--top {
		transform: translate(0, 11px) rotate(45deg);
	}
	.burger.active .burger__line--center {
		 opacity: 0;
	}
	.burger.active .burger__line--bottom {
		transform: translate(0, -11px) rotate(-45deg) ;
	}

	.header__bottom-nav {
		display: none;
	}

	.burger__bottom-btn {
		display: none;
	}

	.header__burger {
		position: fixed;
		top: 112px;
		left: 0;
		right: 0;
		z-index: 2;
		background-color: #fafafa;
		height: 100%;
		padding: 50px;
	}

	.burger__bottom-nav {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.header__bottom-nav__link {
		font-size: 14px;
	}

	.active__menu {
		display: block;
	}

	.about__block-text__plus {
		display: none;
	}

	.what-is__block-text {
		padding: 15px 0 0 20px;
	}

	.what-is__block-img {
		width: 300px;
	}

	.how-do__block-item {
		max-width: 500px;
	}

	.how-do__block-list__img {
		width: 422px;
	}

	.how-do__bestseller-img {
		max-width: 300px;
		margin-top: 45px;
	}

	.how-do__block-list__title {
		font-size: 14px;
	}

	.how-do__process-item__text::before {
		content: url(../img/how-do-ellips-icon-25.svg);
	}

	.active__process-item::before {
		content: url(../img/how-do-process-active-icon-25.svg);
	}

	.process-item__text-title {
		font-size: 14px;
	}
	.process-item__text {
		margin-top: 5px;
		font-size: 12px;
	}

	.line {
		margin: 25px 0 25px 0;
	}

	.properties__block-list {
		flex-direction: column;
	}

	.properties__block-items {
		margin-top: 45px;
		display: flex;
		gap: 15px;
	}

	.properties__block-img {
		max-width: 501px;
		width: 100%;
		margin: auto;
	}

	.properties__block-item {
		margin-bottom: 0;
	}

	.properties__block-items__vert {
		display: none;
	}

	.qualities__block-section {
		margin-top: 45px;
	}

	.title-block__icon {
		width: 25px;
	}

	.qualities__block-info__title {
		font-size: 14px;
	}

	.qualities__block-info__qual-item {
		font-size: 12px;
	}

	.qualities__block-title {
		width: 58%;
	}

	.object__block-info__list {
		grid-template-columns: repeat(2, 1fr);
	}

	.object__block-info__item {
		max-width: 450px;
	}

	.object__block-info__title-img {
		max-width: 420px;
	}

	.object__block-info__list-img {
		grid-gap: 27px;
	}

	.object__block-info__item-img {
		max-width: 123px;
	}
}

@media (max-width: 768px) {
	html {
		font-size: calc(100vw / 768 * 10);
	}

	.top-item {
		font-size: 12px;
	}

	.header__bottom-btn {
		display: none;
	}

	.burger__bottom-btn {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		gap: 15px;
	}

	.about__block-info {
		padding: 10px 30px 20px 20px;
	}

	.about__block-title {
		font-size: 25px;
		margin-bottom: 10px;
	}

	.about__block-text__first {
		margin-bottom: 10px;
	}
	
	.about__block-text {
		font-size: 13px;
	}

	.about__block-input {
		margin-top: 15px;
		max-width: 333px;
		height: 231px;
		padding: 10px 15px 0px;
	}

	.about__block-input__title {
		font-size: 16px;
	}

	.decoration {
		font-size: 16px;
	}

	.about__block-img {
		width: 365px;
	}

	.about__company-block {
		padding: 10px;
		position: absolute;
		bottom: 5%;
		max-width: 342px;
		height: 190px;
	}

	.about__company-block__title {
		font-size: 12px;
	}

	.about__company-block__item {
		font-size: 12px;
	}

	.contents__block-title {
		font-size: 25px;
		margin-top: 20px;
	}

	.contents__block-item {
		width: 125px;
		height: 150px;
		padding: 5px 5px 5px 5px;
	}

	.contents__block-item__text {
		font-size: 11px;
	}

	.contents__img-hover {
		top: 11%;
		left: 33%;
	}

	.what-is__block {
		margin: 30px 0;
	}

	.h2__block-title {
		font-size: 25px;
	}

	.what-is__block-text__item {
		font-size: 12px;
	}

	.how-do__block-item {
		padding: 15px;
		max-width: 325px;
	}

	.line {
		margin: 20px 0 20px 0;
	}

	.how-do__process-text {
		display: none;
	}

	.how-do__process-text768 {
		display: block;
	}

	.properties__block-section {
		margin-top: 45px;
	}

	.properties__block-items {
		margin-top: 25px;
		gap: 10px;
	}

	.properties__block-item__text {
		margin-top: 10px;
		font-size: 12px;
	}

	.properties__block-item {
		width: 215px;
		height: 184px;
		max-height: 200px;
	}

	.properties__block-img {
		max-width: 320px;
	}

	.qualities__block-info__section {
		margin-top: 20px;
		flex-direction: column;
	}

	.qualities__block-info__list {
		width: 100%;
	}

	.qualities__block-section:last-child {
		margin-top: 10px;
	}

	.object__block-section {
		margin-top: 45px;
	}

	.object__block-info__list {
		grid-template-columns: repeat(1, 1fr);
	}

	.object__block-info__item {
		margin: auto;
	}

	.footer__faq {
		max-width: 185px;
		padding: 20px 0 0 30px;
	}

	.footer-title {
		font-size: 14px;
	}

	.footer-item {
		font-size: 12px;
	}

	.footer__prod {
		max-width: 205px;
		padding: 20px 0 0 30px;
	}

	.footer__info-text {
		font-size: 12px;
	}

	.footer__info-item {
		font-size: 12px;
	}
}

@media (max-width: 576px) {
	html {
		font-size: calc(100vw / 576 * 10);
	}

	.header__top-link {
		display: none;
	}

	.about__block-info {
		padding: 10px 20px 20px 20px;
		width: 100%;
	}

	.about__block-input {
		max-width: 536px;
	}

	.about__block-bg {
		display: none;
	}

	.contents__block-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.what-is__block-list {
		height: 167px;
	}

	.what-is__block-text {
		padding: 10px 0 0 15px;
	}

	.what-is__block-text__item {
		margin-top: 10px;
	}

	.what-is__block-img {
		width: 190px;
		padding-right: 10px;
	}

	.how-do__block-list {
		flex-direction: column;
		gap: 10px;
	}

	.how-do__block-item {
		padding: 15px;
		max-width: 453px;
	}

	.how-do__process-item {
		width: 100%;
	}

	.properties__block-img {
		display: none;
	}

	.properties__block-list {
		flex-direction: row;
		gap: 30px;
	}

	.properties__block-items {
		flex-direction: column;
	}

	.footer__top {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
	}

	.footer__prod {
		border: 0;
	}
	
	.footer__prod {
		max-width: 320px;
	}

	.footer__faq {
		max-width: 320px;
	}

	.footer-title {
		font-size: 16px;
	}

	.footer-item {
		font-size: 14px;
	}

}

@media (max-width: 420px) {
	html {
		font-size: calc(100vw / 420 * 10);
	}

	.top-item {
		font-size: 11px;
	}

	.contents__block {
		display: none;
	}

	.block-section {
		padding: 0 25px;
	}

	.what-is__block-list {
		height: 270px;
		flex-direction: column;
	}

	.what-is__block-img {
		margin: auto;
	}

	.h2__block-title {
		font-size: 20px;
	}

	.how-do__block-list__img {
		width: 339px;
	}

	.properties__block-list {
		flex-direction: column;
	}

	.properties__block-item {
		width: 100%;
		height: 116px;
	}

	.properties__block-items {
		margin-top: 0;
		gap: 15px;
	}
	
	.object__block-info__item-img {
		max-width: 107px;
	}

	.object__block-info__item {
		max-width: 370px;
	}

	.object__block-info__list-img {
		grid-gap: 5px;
	  }
}